//VARIABLES
$white: hsl(0, 0%, 98%);
$mdGray: hsl(0, 0%, 41%);

//MOBILE VIEWS
#desktop-login{
    display:none;
}

.login-conatiner, .register-btn{
    font-size: 14px;
    margin-top: 1rem;
}

.login-container{
    text-align: center;
}

.register-btn{
    background-color: $white;
    border: 1px solid $mdGray;
    color:$mdGray;
    padding: 0.5em;
    width: 100%;
}


@media screen and (min-width:1000px) {
    
    #desktop-login{
        display: flex;
    }

    .login-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
    }    

    .register-btn{
        margin:0;
        width: 150px;
    }
}