//VARIABLES
$white: hsl(0, 0%, 98%);
$mdGray: hsl(0, 0%, 41%);
$black:hsl(0, 0%, 8%);


//SETUP
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

html, body{
    height: 100vh;
    width: 100%;
}

body{
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
}

//TEXT & REUABLES


//NAVBAR COMPONENT
.nav-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
}

//HERO COMPONENT


.hero-img{
    width: 100%;
}