//VARIABLES
$white: hsl(0, 0%, 98%);
$mdGray: hsl(0, 0%, 41%);
$black:hsl(0, 0%, 8%);


//SETUP
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

html, body, .App{
    height: 100vh;
    width: 100%;
}

body{
    background-color: $white;
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
}

//+++++++++++++++++++++
//++++MOBILE STYLES++++
//+++++++++++++++++++++
//TEXT & REUABLES
h1{ 
    font-size: 2rem;
}

p{
    color:$mdGray;
    line-height: 1.5;
    margin: 1.5rem 0;
}

a{
    color:$mdGray;
    text-decoration: none;
}

ul{
    padding: 0;
}

li{ 
    list-style: none;
}

button{
    background: $black;
    border:none;
    border-radius: 15px;
    color: $white;
    cursor: pointer;
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    padding: 1em;
    width: 150px;
}

section, nav{ 
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

section{ 
    height: 90%;
}

//NAVBAR COMPONENT
.nav-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;

    height:10%;
    padding: 1rem;
}

//HERO COMPONENT
.mobile-hero-img{
    width: 100%;
}

.desktop-hero-img{
    display:none;
}

.inner-container{ 
    margin: 1.5rem auto;
    text-align: center;
    width: 90%;
}

.client{ 
    width: 20%;
}

.social-proof{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

//++++++++++++++++++++++
//++++DESKTOP STYLES++++
//++++++++++++++++++++++
@media screen and (min-width:1000px) {
    //TEXT AND REUSABLES
    section{ 
        max-width: 1250px;
        width: 80%;
    }

    h1{ 
        font-size: 4.85rem;
    }

    p{ 
        font-size: 18px;
        margin: 2.5rem 0;
        width: 75%;
    }

    //NAVBAR
    .nav-bar{
        padding: 0 2rem;
        position: relative;
        max-width: 1440px;
        width: 100%;
    }

    .nav-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;

        &--left{
            justify-content: space-between;
        }

        &--right{
            justify-content: flex-end;
        }
    }
    .menu{
        display:none;
    }

    .arrow{
        margin-left: 0.5em;
    }

    .list{ 
        display: flex;
        justify-content: space-between;
        flex: 1;

        margin: 0 4rem;
    }

    .register-btn{
         background-color: $white;
         border: 1px solid $mdGray;
         color:$mdGray;
         font-size: unset;
         padding: 1em;
         margin-left: 2rem;
         width: 100px;
    }

    //HERO 
    .hero-container{
        display: flex;
        flex-direction: row-reverse;
    }

    .mobile-hero-img{ 
        display: none;
    }

    .desktop-hero-img{ 
        display:block;
        height: 100%;
    }

    .inner-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0 0 2rem 0;
        width: 50%;

        &--img{ 
            align-items: center;
        }

        &--text{
            align-items: flex-start;
            padding-right: 5%;
            text-align: left;
        }       
    }

    .hero-text, .social-proof{
        margin-top: auto;
    }

    .social-proof{
        width: 90%;
    }

    //DROPDOWN

    .dropdown{
        position: absolute;
        top: 75px;
        left: 0;

        height: 200px;
        width: 200px;

        &--0{
            background-color: $black;
        }

        &--1{
           background-color: blue; 
        }
    }

}